<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard: add new patients, edit current patients, and generate reports.</p>

<!-- New Patient -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#newPatient">Create new patient</button>
<app-patient-create></app-patient-create>

<!-- Generate Report -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#newPatient">Generate Report</button>

<app-bar-chart></app-bar-chart>

<!-- Display Patients -->
<div class="row">
  <!-- Ongoing Patients -->
  <div class="col-md-6">
    <h2>Ongoing Patients</h2>
    <ul *ngIf="hasOngoingPatients()" class="list-group">
      <a *ngFor="let patient of ongoing_patients" (click)="patientService.setSelectedPatient(patient)" class="list-group-item" style="cursor: pointer" data-toggle="modal" data-target="#editPatient">
          <h4>Patient {{patient.patient_num}}</h4>
          <span>{{patient.sex}}, {{patient.age}}, {{patient.occupation}}</span>
          <br>
          <span><b>{{patient.body_part}}</b> problem, specifically {{patient.stage}} <b>{{patient.injury_detail}}</b></span>
      </a>
    </ul>
  </div>

  <!-- Discharged Patients -->
  <div class="col-md-6">
    <h2>Discharged Patients</h2>
    <ul *ngIf="hasDischargedPatients()" class="list-group">
      <span *ngFor="let patient of discharged_patients"  class="list-group-item" style="cursor: pointer" data-toggle="modal" data-target="#editPatient" (click)="patientService.setSelectedPatient(patient)">
        <h4>Patient {{patient.patient_num}}</h4>
        <span>{{patient.sex}}, {{patient.age}}, {{patient.occupation}}</span>
        <br>
        <span><b>{{patient.body_part}}</b> problem, specifically {{patient.stage}} <b>{{patient.injury_detail}}</b></span>
      </span>
    </ul>
  </div>
  <app-patient-edit></app-patient-edit>
</div>
