<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard: add new patients, edit current patients, and generate reports.</p>

<!-- New Patient -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#newPatient">Create new patient</button>
<app-patient-create></app-patient-create>

<!-- Generate Report -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#newPatient">Generate Report</button>

<!-- Display Patients -->
<div class="row">
  <!-- Ongoing Patients -->
  <div class="col-md-6">
    <h2>Ongoing Patients</h2>
    <ul *ngIf="hasOngoingPatients()" class="list-group">
      <a *ngFor="let patient of ongoing_patients" (click)="onSelectPatient(patient)" class="list-group-item" style="cursor: pointer" data-toggle="modal" data-target="#patientModal">
          <h4>{{patient.patient_num}}</h4>
          <span>{{patient.sex}}, age {{patient.age}}, {{patient.occupation}}</span>
          <p>{{patient.case}}</p>
      </a>
    </ul>
  </div>

  <!-- Discharged Patients -->
  <div class="col-md-6">
    <h2>Discharged Patients</h2>
    <ul *ngIf="hasDischargedPatients()" class="list-group">
      <a *ngFor="let patient of discharged_patients" (click)="onSelectPatient(patient)" class="list-group-item" style="cursor: pointer" data-toggle="modal" data-target="#patientModal">
          <h4>{{patient.patient_num}}</h4>
          <span>{{patient.sex}}, age {{patient.age}}, {{patient.occupation}}</span>
          <p>{{patient.case}}</p>
      </a>
    </ul>
  </div>
</div>
