<div class="">
  <select class="form-control" [(ngModel)]="patientService.new_treatment['treatment_date']" name="{{model[key]}}">
    <option *ngFor="let v of dateFields.days; let i=index">{{i+1}}</option>
  </select>
  <select class="form-control" [(ngModel)]="model" name="{{model[key]}}">
    <option *ngFor="let v of dateFields.months">{{v}}</option>
  </select>
  <select class="form-control" [(ngModel)]="model" name="{{model[key]}}">
    <option *ngFor="let v of dateFields.years; let i=index">{{year - i}}</option>
  </select>
</div>
