<div class="modal fade" id="newPatient" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Patient</h4>
      </div>
      <flash-messages></flash-messages>
      <div class="modal-body">
        <form (submit)="createPatient()" class="form-horizontal" autocomplete="off">
          <div class="form-group form-inline" *ngFor="let r of patientService.patient_resource">
            <label class="control-label col-sm-4">{{r.name}}</label>
            <input type="text" *ngIf="r.type == 1 " [(ngModel)]="patientService.new_patient[r.key]" name="{{r.key}}" class="form-control focusedInput">

            <!-- TODO: clean up <app-datepicker *ngIf="r.type == 2" key="{{r.key}}" model="patientService.new_patient"></app-datepicker> -->
            <input type="date" *ngIf="r.type == 2" [(ngModel)]="patientService.new_patient[r.key]" name="{{r.key}}" class="form-control"/>
            <!-- <div class="" *ngIf="r.type == 2">
              <div class="input-group">
                <input type="text" value="{{ getDate() | date:'dd-MM-yyyy' }}" [(ngModel)]="patientService.new_patient[r.key]" name={{r.key}} class="form-control">
                <span class="input-group-addon" (click)="open(1)"><i class="glyphicon glyphicon-th"></i></span>
              </div>
              <div *ngIf="openedPatient" style="position: absolute; z-index:10; min-height:290px;" (selectionDone)="openedPatient = false">
                <datepicker [(ngModel)]="patientService.new_patient[r.key]" name="{{r.key}}" [showWeeks]="false"></datepicker>
              </div>
            </div> -->

            <input type="number" *ngIf="r.type == 3" [(ngModel)]="patientService.new_patient[r.key]" name="{{r.key}}" class="form-control"/>
            <select class="form-control" *ngIf="r.type == 0" [(ngModel)]="patientService.new_patient[r.key]" name="{{r.key}}">
              <option *ngFor="let v of r.values">{{v}}</option>
            </select>
          </div>

          <p>This treatment is the consult</p>

          <div class="form-group form-inline" *ngFor="let r of patientService.treatment_resource">
            <label class="control-label col-sm-4">{{r.name}}</label>
            <input type="text" *ngIf="r.type == 1 " [(ngModel)]="patientService.new_patient[r.key]" name="{{r.key}}" class="form-control focusedInput">
            <!-- <app-datepicker *ngIf="r.type == 2" key="{{r.key}}" model="patientService.new_patient"></app-datepicker> -->
            <input type="date" *ngIf="r.type == 2" [(ngModel)]="patientService.new_patient[r.key]" name="{{r.key}}" class="form-control"/>

            <input type="number" *ngIf="r.type == 3" [(ngModel)]="patientService.new_patient[r.key]" name="{{r.key}}" class="form-control"/>
            <select class="form-control" *ngIf="r.type == 0" [(ngModel)]="patientService.new_patient[r.key]" name="{{r.key}}">
              <option *ngFor="let v of r.values">{{v}}</option>
            </select>
          </div>

          <input type="submit" class="btn btn-primary" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
