<div class="modal fade" id="editPatient" role="dialog" *ngIf="getSelectedPatient()">
  <div class="modal-dialog">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Patient {{selected_patient.patient_num}}</h4>
      </div>
      <flash-messages></flash-messages>
      <div class="modal-body">
        <!-- Patient Form to Edit -->
        <form (submit)="updatePatient()" class="form-horizontal" autocomplete="off">
          <div class="form-group form-inline">
            <label class="control-label col-sm-4">Patient Number</label>
            <input type="text" [(ngModel)]="selected_patient.patient_num" name="patient_num" class="form-control focusedInput">
          </div>
          <div class="form-group form-inline">
            <label class="control-label col-sm-4">Sex</label>
            <select class="form-control" [(ngModel)]="selected_patient.sex" name="sex">
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group form-inline">
            <label class="control-label col-sm-4">DOB</label>
            <input type="date" [(ngModel)]="selected_patient.dob" name="dob" class="form-control"/>
          </div>
          <div class="form-group form-inline">
            <label class="control-label col-sm-4">Occupation</label>
            <select class="form-control" [(ngModel)]="selected_patient.occupation" name="occupation">
              <option>Office worker</option>
              <option>Teacher</option>
              <option>Retired</option>
            </select>
          </div>
          <div class="form-group form-inline">
            <label class="control-label col-sm-4">Body part</label>
            <select class="form-control" [(ngModel)]="selected_patient.body_part" name="body_part">
              <option>Lower back</option>
              <option>Neck</option>
              <option>Shoulder</option>
              <option>Ankle</option>
            </select>
          </div>
          <div class="form-group form-inline">
            <label class="control-label col-sm-4">Injury detail</label>
            <select class="form-control" [(ngModel)]="selected_patient.injury_detail" name="injury_detail">
              <option>Facet Joint Irritation</option>
              <option>Lumbar Disc Prolapse</option>
              <option>Thoracic Outlet Syndrome</option>
              <option>Supraspinatus Tendinopathy</option>
              <option>Sprained Ligament</option>
            </select>
          </div>
          <div class="form-group form-inline">
            <label class="control-label col-sm-4">Stage</label>
            <select class="form-control" [(ngModel)]="selected_patient.stage" name="stage">
              <option>Acute</option>
              <option>Chronic</option>
            </select>
          </div>

          <!-- Show Treatments -->
          <div class="form-group form-inline">
            <label class="control-label col-sm-4">See treatments</label>
            <!-- <button type="button" class="btn btn-info control-label col-sm-4" data-toggle="collapse" data-target="#showTreatments">See treatment(s)</button> -->
          </div>
          <!-- <app-treatment id="showTreatments"></app-treatment> -->

          <!-- New Treatment -->
          <div class="form-group form-inline">
            <label class="control-label col-sm-4">Add treatment</label>
            <!-- <button type="button" class="btn" aria-label="Add" data-toggle="collapse" data-target="#addTreatment">
              <span class="glyphicon glyphicon-align-plus" aria-hidden="true"></span>
            </button> -->
          </div>
          <!-- <app-treatment class="" id="addTreatment"></app-treatment> -->

          <!-- Last Treatment -->
          <div class="form-group form-inline">
            <label class="control-label col-sm-4">Discharge</label>
            <!-- <button type="button" class="btn btn-warning col-sm-4" data-toggle="collapse" data-target="">Discharge</button>
            <input type="checkbox" [(ngModel)]="selected_patient.discharged" name="consult_date"  class="form-control"/> -->
          </div>
          <!-- <div class="form-group form-inline">
            <button type="button" class="btn btn-warning col-sm-4" data-toggle="collapse" data-target="">Stopped attending</button>
            <input type="checkbox" [(ngModel)]="selected_patient.stopped_attending" name="consult_date"  class="form-control"/>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSavePatient()">Save</button>
      </div>
    </div>
  </div>
</div>
