<div class="modal fade" id="editPatient" role="dialog" *ngIf="getSelectedPatient()">
  <div class="modal-dialog modal-lg">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Patient {{selected_patient.patient_num}}</h4>
      </div>
      <flash-messages></flash-messages>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-8 col-push-2">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#viewPatient">View Patient</button>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#viewTreatments">View Treatments</button>
          </div>
        </div>

        <!-- View Patient -->
          <div class="collapse" id="viewPatient">
            <form (submit)="updatePatient()" class="form-horizontal" autocomplete="off">
              <div class="form-group form-inline" *ngFor="let r of patientService.patient_resource">
                <label class="control-label col-sm-4">{{r.name}}</label>
                <input type="text" *ngIf="r.type == 1 " [(ngModel)]="selected_patient[r.key]" name="{{r.key}}" class="form-control">
                <input type="date" *ngIf="r.type == 2" [(ngModel)]="selected_patient[r.key]" name="{{r.key}}" class="form-control"/>
                <input type="number" *ngIf="r.type == 3" [(ngModel)]="selected_patient[r.key]" name="{{r.key}}" class="form-control"/>
                <select class="form-control" *ngIf="r.type == 0" [(ngModel)]="selected_patient[r.key]" name="{{r.key}}">
                  <option *ngFor="let v of r.values">{{v}}</option>
                </select>
              </div>
              <input type="submit" class="btn btn-primary" value="Submit">
            </form>
          </div>

        <!-- View Treatments -->
          <div class="collapse" id="viewTreatments">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th *ngFor="let t of this.patientService.treatment_resource">{{t.name}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of selected_patient.treatments">
                  <td>{{t.treatment_date}}</td>
                  <td>{{t.treatment_used}}</td>
                  <td>{{t.vas}}</td>
                  <td>{{t.qal}}</td>
                </tr>
                <!-- Add Treatment -->
                <tr>
                  <td *ngFor="let t of this.patientService.treatment_resource">
                    <input type="text" *ngIf="t.type == 1 " [(ngModel)]="new_treatment[t.key]" name="{{t.key}}" class="form-control focusedInput">
                    <input type="date" *ngIf="t.type == 2" [(ngModel)]="new_treatment[t.key]" name="{{t.key}}" class="form-control"/>
                    <input type="number" *ngIf="t.type == 3" [(ngModel)]="new_treatment[t.key]" name="{{t.key}}" class="form-control"/>
                    <select class="form-control" *ngIf="t.type == 0" [(ngModel)]="new_treatment[t.key]" name="{{t.key}}">
                      <option *ngFor="let v of t.values">{{v}}</option>
                    </select>
                  </td>
                  <td><button type="button" name="button" class="btn btn-default" (click)="addTreatment()">Add</button></td>
                </tr>
              </tbody>
            </table>

            <form id="addTreatment" (submit)="addTreatment()" method="post">
              <div class="form-group form-inline" *ngFor="let r of patientService.treatment_resource">


              </div>
              <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            <button type="button" class="btn btn-danger" (click)="discharge()" *ngIf="!selected_patientdischarged">Discharge</button>
          </div>

      </div>
    </div>
  </div>
</div>
