<div class="jumbotron text-center">
  <h1>Osteappathy</h1>
  <p class="lead">Welcome to Patient Audit App</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-4">
    <h3>What I do</h3>
    <p>Because this...</p>
  </div>
  <div class="col-md-4">
    <h3>Why I'm great</h3>
    <p>Because that...</p>
  </div>
  <div class="col-md-4">
    <h3>Why you need me</h3>
    <p>Because this...</p>
  </div>
</div> -->
